* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --primary-color: #ff914d;
    --secondary-color: #24367e;
    --text-color: #fff;
    --black-text-color: #000;
    --font-text: 'Open Sans', sans-serif;
}

#wrapper {
    max-width: 1600px;     /* максимум */
    width: 100%;           /* адаптивно */
    margin: 0 auto;
    padding: 0 40px;
}

#map {
    width: 400px;
    height: 250px;
    margin: 0 60px 0 auto;
    border: 3px solid var(--secondary-color);
}

html, body {
    font-family: var(--font-text), sans-serif;
    overflow-x: hidden !important;
}


@media (max-width: 1400px) {
    #wrapper {
        padding: 0 40px 0 60px;
    }
}

@media (max-width: 860px) {
    #wrapper {
        padding:0 0 0 40px;
    }
}